.cheeky
  .cheeky-desc
    h3 ‍Elche, Spain, 1957
    h2 ANTONIO MORA
    p dissolve the limits between two or more superimposed images, obtaining very subtle results where the human faces are mixed nature

  .cheeky-button
    h3 Read his story 
      img(src="img/arrow.svg", alt="")

  img.sign(src="img/sign.svg", alt="")
  img.cheekyBeeky(src="img/cheeky.jpg", alt="")