header

  img.header-logo(src="img/logo.svg", alt="")
  img(class="header-img glitch" src="img/header.png", alt="")

  .header__nav-bar
    .header__meta
      .header__meta__group
        h5 Reading time
        h4 00:00:62:03

      .header__meta__group
        h5 Project
        h4 Dara

    .header__nav 
      img(src="img/nav.svg", alt="")

  .header__count
    h4 003
    h5 005
  
  .header__title-section
    .header__title-section__inner
      h3 A3-23402i49
      h1 Black Crow
      p The nanosuit can switch between modes switched for reall like

  .header__desc
    h3 NS. V2
    p Nexus Mods is a site which allows users to upload and download "mods" for computer games. It acts as a source for the distribution of original content. It is one of the largest gaming modification websites on the web, and, as of May 2018, had ten million registered members.
