section.slide-section
  .slide-section__meta
    h3 Check out our
    h2 Recent work
    p See all projects
  
  .slider
    .slider__inner
      .slide
        img(src="img/slides/1.jpg", alt="")
        h4 Mountain view
        p A3-23402i49

      .slide
        img(src="img/slides/2.jpg", alt="")
        h4 Young Poseidon
        p A3-23402i49

      .slide
        img(src="img/slides/3.jpg", alt="")
        h4 Broken dream
        p A3-23402i49

      .slide
        img(src="img/slides/4.jpg", alt="")
        h4 ROAD TO NOWHERE
        p A3-23402i49

      .slide
        img(src="img/slides/5.jpg", alt="")
        h4 Flora
        p A3-23402i49