.slideshow
  .slideshow-desc
    h3 Wallpaper, MDF, Photo paper
    p Nexus Mods is a site which allows users to upload and download "mods" for computer games. It acts as a source for the distribution of original content. It is one of the largest gaming modification websites on the web, and, as of May 2018, had ten million registered members.

  .slideshow-small-image
    .white
    img(src="img/show/small.jpg", alt="")
    img(src="img/show/small-2.jpg", alt="")
    img(src="img/show/small-3.jpg", alt="")

  .slideshow-large-image
    .white2
    img(src="img/show/large.jpg", alt="")
    img(src="img/show/large-2.jpg", alt="")
    img(src="img/show/large-3.jpg", alt="")

  .pagination
    .pagination__controls
      div(class="pagination__control--active pagination__control")
      .pagination__control
      .pagination__control
      .pagination__control
      .pagination__control

