doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./styles/index.sass")

  body

    .overlay
    .overlay--light

    .grid-vertical
      .line-left
      .line-right

    include includes/header.pug
    include includes/slider.pug
    include includes/cheeky.pug
    include includes/slideshow.pug

    script(src="scripts/index.js")